*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     /*background-color: blue; */
     font-family: 'poppins', sans-serif;
}
.lft-container{
    width: 60%;
    height: auto;
    /* border: 12px solid orange; */
    float: left;
}
.logo{
    width: 100%;
    height: 100px;
    /* border: 2px solid black; */
    float: left;
    padding-top: 5%;
    padding-left: 4%;
}
.cont{
    width: 100%;
    height: auto;
    /* border: 2px solid black; */
    float: left;
    margin-top: 30px;
}
.cont h2{
    padding-left: 4%; 
    padding-top: 10%; 
    font-size: 50px;
}
.cont p{
    padding-left: 4%; 
    font-size: 32px; 
    color: rgba(0, 0, 0, 0.5); 
    padding: 30px;
}
.add{
    width: 70%;
    height: 60px;
    background-color: #0aa89e;
    /* float: left; */
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 80px;
    color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
}



.rgt-container{
    width: 40%;
    height: auto;
    /* border: 12px solid red; */
    float: left;
}


.newly_added{
    width: 100%;
    height: auto;
    /* border: 12px solid black; */
    float: left;
    background-color: lightblue;
}
.list{
    width: 20%;
    height: auto;
    /* border: 2px solid orange; */
    float: left;
    margin: 30px;
}
.list, h3, p{
    margin-left: 22px;
}
.list p{
    padding: 4px;
    font-size: 12px;
}
.list img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.rating_bar{
    width: 95%;
    height: auto;
    background-color: white;
    margin: 0 auto;
}
.checked{
    color: white;
    background-color: #48c479;
    font-size: 3px;
    padding: 6px;
}
.time{
    padding-left: 10px;
    /* padding-right: 10px; */
    font-size: 12px;
}
.time i{
    font-size: 5px;
    padding-left: 10px;
}
.cost{
    padding-left: 10px;
    /* padding-right: 10px; */
    font-size: 12px;  
}
.offer1{
    width: 100%;
    /* border: 1px solid brown; */
}
.offr{
    width: 100%;
    /* border: 1px solid greenyellow; */
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}








.dishes{
    width: 100%;
    height: auto;
    /* border: 12px solid black; */
    float: left;
    /* margin-top: 30px; */
    background-color: #b5e5e2;
}
.dishes h1{
    text-align: center;
}
.breakfast{
    width: 32%;
    height: auto;
    /* border: 2px solid orange; */
    float: left;
    margin: 0.5%;
}
.breakfast h1{
    text-align: center;
}
.lunch{
    width: 32%;
    height: auto;
    /* border: 2px solid orange; */
    float: left;
    margin: 0.5%;
}
.lunch h1{
    text-align: center;
}
.dinner{
    width: 32%;
    height: auto;
    /* border: 2px solid orange; */
    float: left;
    margin: 0.5%;
}
.dinner h1{
    text-align: center;
}
.opt-1{
    width: 48%;
    height: auto;
    /* border: 2px solid blue; */
    float: left;
    margin: 3.9px;
}
.opt-1 i{
    padding-right: 5px;
    font-size: 14px;
    padding-left: 8px;
}
.opt-1 button{
    margin-left: 10%;
    border: 258px;
    background-color: orange;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 10px;

}




.app{
    width: 50%;
    height: auto;
    /* border: 12px solid green; */
    float: left;
    padding-bottom: 90px;
}
.app_info{
    width: 50%;
    height: auto;
    /* border: 12px solid orange; */
    float: left;
    margin-bottom: 100px;
    padding: 30px;
}
.app_info p{
    margin-bottom: 30px;
     padding-left: 7%;
}
.info1{
    font-size: 20px; 
    margin-bottom: 10px; 
    padding-left: 7%;
}
.newly{
    text-align: center;
    padding-top: 2%;
}
.menu{
    padding: 20px;
    font-size: 50px;
}
.bsf{
    padding: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 30px;
}





.bussiness{
    width: 100%;
    height: auto;
    background: #b5e5e2;
    float: left;
}
.buss1{
    width: 60%;
    height: auto;
    /* border: 12px solid orange; */
    float: left;

}
.buss1 h1{
    font-size: 53px;
    padding: 44px;
}
.buss2{
    width: 40%;
    height: auto;
    /* border: 12px solid red; */
    float: left;
    padding: 36px;
    margin-top: 4%;
    margin-bottom: 5%;
}
.comp{
    width: 30%;
    margin: 10px;
    /* border: 2px solid yellow; */
    float: left;
}





footer{
    width: 100%;
    height: auto;
    /* border: 12px solid black; */
    float: left;
}
.l1{
    width: 100%;
    height: auto;
    float: left;
    /* border: 2px solid blue; */
    padding: 44px;
}
.doct{
    width: 23%;
    height: 300px;
    float: left;
    /* border: 3px solid green; */
    margin: 12px; 
    padding: 16px;  
}
.doct h3{
    padding-bottom: 10px;
}
.doct ul li{
    list-style-type: none;
    text-decoration: none;
    padding: 6px;
    
}
.doct i{
    font-size: 10px;
    padding-right: 10px;
}

























@media screen and (min-width: 321px) and (max-width: 500px){
    .lft-container{
        width: 100%;
    }
    .add{
        font-size: 14px;
    }
    .cont h2{
        font-size: 38px;
    }
    .cont p{
        font-size: 20px;
    }
    .rgt-container{
        width: 100%;
    }
    .newly{
        font-size: 20px;
    }
    .list{
        width: 90%;
        margin-left: 15px;
    }
    .menu{
        font-size: 30px;
    }
    .breakfast{
        width: 100%;
        color: darkred;
        padding: 10px;
    }
    .bsf{
        font-size: 18px;
        padding: 10px;
    }
    .opt-1, .opt-2, .opt-3, .opt-4, .opt-5, .opt-6, .opt-7, .opt-8, .opt-9, .opt-10, .opt-11, .opt-12 {
        width: 86%;
        margin-left: 6%;
    }
    .lunch{
        width: 100%;
        color: darkred;
        padding: 10px;
    }
    .dinner{
        width: 100%;
        color: darkred;
        padding: 10px;
    }
    .app{
        width: 100%;
    }
    .app_info{
        width: 100%;
    }
    .app_info p{
        font-size: 10px;
        margin-bottom: 0;
    }
    .info1{
        font-size: 15px;
    }
    .buss1{
        width: 100%;
    }
    .buss1 h1{
        font-size: 19px;
        padding: 30px;
    }
    .comp{
        width: 26%;
    }
    .buss2{
        width: 100%;
    }
    .doct{
        width: 100%;
    margin-left: 0;
    }
}

@media screen and (min-width: 501px) and (max-width: 1000px){
    .lft-container{
        width: 100%;
    }
    .add{
        font-size: 14px;
    }
    .rgt-container{
        width: 100%;
    }
    .newly{
        font-size: 28px;
    }
    .list{
        width: 45%;
        margin-left: -6px;
    }
    .menu{
        font-size: 30px;
    }
    .breakfast{
        width: 49%;
    }
    .bsf{
        font-size: 18px;
        padding: 10px;
    }
    .opt-1, .opt-2, .opt-3, .opt-4, .opt-5, .opt-6, .opt-7, .opt-8, .opt-9, .opt-10, .opt-11, .opt-12 {
        width: 70%;
        margin-left: 14%;
    }
    .lunch{
        width: 49%;
    }
    .dinner{
        width: 100%;
    }
    .app{
        width: 100%;
    }
    .app_info{
        width: 100%;
    }
    .app_info p{
        font-size: 14px;
    }
    .buss1{
        width: 100%;
    }
    .buss1 h1{
        font-size: 28px;
    }
    .comp{
        width: 29%;
    }
    .buss2{
        width: 100%;
    }
    .doct{
        width: 44%;
        height: 319px;
    }
}





@media screen and (min-width: 1285px) and (max-width: 5000px){
    .outer{
        width: 1280px;
        margin: 0 auto;
    }
    
}