*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     /*background-color: blue; */
     font-family: 'poppins', sans-serif;
}
.lft-container{
    width: 60%;
    height: auto;
    /* border: 12px solid orange; */
    float: left;
}
.logo{
    width: 100%;
    height: 100px;
    /* border: 2px solid black; */
    float: left;
    padding-top: 5%;
    padding-left: 4%;
}
.cont{
    width: 100%;
    height: auto;
    /* border: 2px solid black; */
    float: left;
    margin-top: 30px;
}
.add{
    width: 70%;
    height: 60px;
    background-color: #0aa89e;
    /* float: left; */
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 80px;
    color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
}



.rgt-container{
    width: 40%;
    height: auto;
    /* border: 12px solid red; */
    float: left;
}


.newly_added{
    width: 100%;
    height: auto;
    /* border: 12px solid black; */
    float: left;
    background-color: lightblue;
}
.list{
    width: 20%;
    height: auto;
    /* border: 2px solid orange; */
    float: left;
    margin: 30px;
}
.list, h3, p{
    padding-left: 20px;
}








.dishes{
    width: 100%;
    height: auto;
    /* border: 12px solid black; */
    float: left;
    margin-top: 30px;
    background-color: #b5e5e2;
}
.dishes h1{
    text-align: center;
}
.breakfast{
    width: 32%;
    height: auto;
    /* border: 2px solid orange; */
    float: left;
    margin: 0.5%;
}
.breakfast h1{
    text-align: center;
}
.lunch{
    width: 32%;
    height: auto;
    /* border: 2px solid orange; */
    float: left;
    margin: 0.5%;
}
.lunch h1{
    text-align: center;
}
.dinner{
    width: 32%;
    height: auto;
    /* border: 2px solid orange; */
    float: left;
    margin: 0.5%;
}
.dinner h1{
    text-align: center;
}
.opt-1{
    width: 48%;
    height: 200px;
    /* border: 2px solid blue; */
    float: left;
    margin: 3.9px;
    background-image: url(images/b.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.opt-2{
    width: 48%;
    height: 200px;
    /* border: 2px solid blue; */
    float: left;
    margin: 3.9px;
    background-image: url(images/b1.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.opt-3{
    width: 48%;
    height: 200px;
    /* border: 2px solid blue; */
    float: left;
    margin: 3.9px;
    background-image: url(images/b2.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.opt-4{
    width: 48%;
    height: 200px;
    /* border: 2px solid blue; */
    float: left;
    margin: 3.9px;
    background-image: url(images/b3.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.opt-5{
    width: 48%;
    height: 200px;
    /* border: 2px solid blue; */
    float: left;
    margin: 3.9px;
    background-image: url(images/l.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.opt-6{
    width: 48%;
    height: 200px;
    /* border: 2px solid blue; */
    float: left;
    margin: 3.9px;
    background-image: url(images/l1.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.opt-7{
    width: 48%;
    height: 200px;
    /* border: 2px solid blue; */
    float: left;
    margin: 3.9px;
    background-image: url(images/l2.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.opt-8{
    width: 48%;
    height: 200px;
    /* border: 2px solid blue; */
    float: left;
    margin: 3.9px;
    background-image: url(images/l3.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.opt-9{
    width: 48%;
    height: 200px;
    /* border: 2px solid blue; */
    float: left;
    margin: 3.9px;
    background-image: url(images/d.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.opt-10{
    width: 48%;
    height: 200px;
    /* border: 2px solid blue; */
    float: left;
    margin: 3.9px;
    background-image: url(images/d1.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.opt-11{
    width: 48%;
    height: 200px;
    /* border: 2px solid blue; */
    float: left;
    margin: 3.9px;
    background-image: url(images/d2.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.opt-12{
    width: 48%;
    height: 200px;
    /* border: 2px solid blue; */
    float: left;
    margin: 3.9px;
    background-image: url(images/d3.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}




.app{
    width: 50%;
    height: auto;
    /* border: 12px solid green; */
    float: left;
}
.app_info{
    width: 50%;
    height: auto;
    /* border: 12px solid orange; */
    float: left;
    margin-bottom: 100px;
    padding: 30px;
}
.app_info p{
    margin-bottom: 30px;
     padding-left: 7%;
}
.newly{
    text-align: center;
    padding-top: 2%;
}
.menu{
    padding: 20px;
    font-size: 50px;
}
.bsf{
    padding: 20px;
}


@media screen and (min-width: 321px) and (max-width: 500px){
    .lft-container{
        width: 100%;
    }
    .add{
        font-size: 14px;
    }
    .rgt-container{
        width: 100%;
    }
    .newly{
        font-size: 20px;
    }
    .list{
        width: 100%;
        margin-left: -10px;
    }
    .menu{
        font-size: 30px;
    }
    .breakfast{
        width: 100%;
    }
    .bsf{
        font-size: 18px;
        padding: 10px;
    }
    .opt-1, .opt-2, .opt-3, .opt-4, .opt-5, .opt-6, .opt-7, .opt-8, .opt-9, .opt-10, .opt-11, .opt-12 {
        width: 70%;
        margin-left: 14%;
    }
    .lunch{
        width: 100%;
    }
    .dinner{
        width: 100%;
    }
    .app{
        width: 100%;
    }
    .app_info{
        width: 100%;
    }
    .app_info p{
        font-size: 14px;
    }
}

@media screen and (min-width: 501px) and (max-width: 1000px){
    .lft-container{
        width: 100%;
    }
    .add{
        font-size: 14px;
    }
    .rgt-container{
        width: 100%;
    }
    .newly{
        font-size: 28px;
    }
    .list{
        width: 46%;
        margin-left: -10px;
    }
    .menu{
        font-size: 30px;
    }
    .breakfast{
        width: 49%;
    }
    .bsf{
        font-size: 18px;
        padding: 10px;
    }
    .opt-1, .opt-2, .opt-3, .opt-4, .opt-5, .opt-6, .opt-7, .opt-8, .opt-9, .opt-10, .opt-11, .opt-12 {
        width: 70%;
        margin-left: 14%;
    }
    .lunch{
        width: 49%;
    }
    .dinner{
        width: 100%;
    }
    .app{
        width: 50%;
    }
    .app_info{
        width: 50%;
    }
    .app_info p{
        font-size: 14px;
    }
}





@media screen and (min-width: 1285px) and (max-width: 5000px){
    .outer{
        width: 1280px;
        margin: 0 auto;
    }
    
}